<h1><%= @user.username %></h1>


<ul>
	<% if @user.reservations %>
		<% @user.reservations.each do |res| %>
			<li>Restaurant: 
				<p><%= res.restaurant_id %></p>
				Party-size: 
				<%= res.groupsize %>
			</li>
		<% end %>
	<% else %>
		<p>No Reservations</p>
	<% end %>
</ul>