 @import "bourbon/bourbon";
 @import "neat/neat";
 @import "users";


 $gw-column: 100px;          // Column Width
 $gw-gutter: 40px;           // Gutter Width



h1 {
	font-family: $helvetica;

}

h2 {
	font-weight: regular;
	font-family: $helvetica;
}

body {
	font-size: 16px;
	font-family: $lucida-grande;

}


 div#navbar {
 	@include linear-gradient(50deg, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
 	@include box-shadow(0 0 1px 1px hsla(0, 0%, 0%, 0.65));
	margin-top: 0;
	margin-left: 0;
	padding: 0;
	width: grid-width(8);
 	

 	height: 40px;


 	ul.nav_items {
 		margin: 5px 10px;
 		padding: 10px 20px;
 		list-style: none;


 		li {
 			margin: 0 10px;
 			color:white;

 			:hover {
 				border-radius: 6px;
 				background: #BDD4DE;
 			}

 			a {
 				float: left;
 				margin: 0 10px;
 				padding: 0 5px;
 				color: white;
 				text-decoration: none;
 			}

 			a:hover {
 				@include transition (all 1.0s ease-in-out);
 				color: #2B3A42;

 			}

 			.logo{
 				@include animation-name(scale, slide);
 				font-size: 14pt;
 			}
 		}
 	}
 }

 #error_explanation {
	background-color: #FF3E36;
}

.message_container {
	position: fixed;
	top: 35px;
	left: 40%;
	float: left;
	margin: 0 auto;
	padding: 5px;
	width: 250px;
	list-style: none;
	word-wrap: break-word;
}

.alert-success {
	padding: 8px;
	background-color: rgba(22, 173, 43, 0.8);	
	box-shadow: 0 10px 5px #888888;
	color: rgba(10,10,10,0.9);
}

div {
	@include border-top-radius(5px);
	@include border-bottom-radius(5px);
	@include border-left-radius(5px);
	@include border-right-radius(5px);


}

.section {
	@include display-box;
	  @include box-align(start);
	  @include box-orient(vertical);
	  @include box-pack(start);
	@include box-sizing(border-box);
	@include border-top-radius(5px);
	@include border-bottom-radius(5px);
	@include border-left-radius(5px);
	@include border-right-radius(5px);
	padding-top: 10px;
	


}


.alert-error {
	padding: 8px;

	background-color: rgba(237, 21, 19, 0.7);
	box-shadow: 0 10px 5px #888888;
	color: rgba(22,22,22, 1);
}

.restaurant_image {
	@include transition (all 1.0s ease-in-out);

}
.button {
	  @include button(simple);
	  text-decoration: none;
	  font-size: 14px;

	  a {
	  	color: white;
	  	text-decoration: none;
	  	font-size: 14px;
	  }

}
.field {
	#{$all-text-inputs} {
	  border: 1px solid #2B3A42;
	}
	#{$all-text-inputs-hover} { // Target the :hover pseudo-class
	  background: #BDD4DE;
	}

	#{$all-text-inputs-focus} { // Target the :focus pseudo-class
	  background: #EFEFEF;
	}
}

.bg {
	@include background-image(url("http://pcdn.500px.net/16635431/659fcbaf7c2f269f4a988b35262a34ae9099caf7/5.jpg"), linear-gradient(white 0, yellow 50%, transparent 50%));}

.actions input {
	@include button(simple);
	text-decoration: none;
	font-size: 14px;
		a {
		@include button(simple);
		text-decoration: none;
		font-size: 14px;
		}
		
}

